/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: #f0f2f3;
    margin: 20px 20px 20px 20px;
}


.parent {
    /*position: absolute;*/
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.main {
    padding: 5%;
    background: #fefefe;
    border: 1px solid #c2c7cc;
    box-sizing: border-box;
    border-radius: 3px;
    /*margin: 20px 20px 20px 20px;*/
    max-width: 500px;
}

.typeOfTip > p {
  margin: 0 30px 10px;
}

.start a {
    display: flex;
    width: 100%;
    /*flex-direction: row;
  flex-wrap: nowrap; */
}

#backgroundmobile{
    background: url(../img/LockScreen.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center; 
    /* height:-webkit-fill-available; */
    position: fixed;
    /* left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top:-22.5vw;
    margin-bottom:-10vw; */
    z-index:1; 
    top:0;
    bottom:0;
    left:0;
    right:0;

}

#backgroundnotification{
    background: url(../img/Notification.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center; 
    height:-webkit-fill-available;
    position: fixed;
    left: 5px;
    right: 5px;
   /* margin-left: -40vw;
    margin-right: -40vw;
    margin-top:-10vw;
    margin-bottom:-10vw;*/
    z-index:2;
    height: 75px;
    top:35%; 
}

div.title {
    display: flex;

    margin: 2% auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: roboto;
}

img.circle {
    max-height: 75px;
    border-radius: 75px;
}

div.TipButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*height: 40%;*/
    flex-grow: 3;
    margin: auto auto 20px auto;
}

/* .TipButtons a {
    display: block;
} */

/*big tip buttons*/
/* div.tipAmount { */
.TipButtons > a,
.TipButtons > .tipAmount {
    /* position: relative; */
    min-width: 120px;
    background: #fafbfc;
    border: 1px solid #c2c7cc;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 5px;
    min-height: 50px;
}

div.tipText {
    /*background: cyan;*/
}

div.tipText > h2 {
    color: #2996cc;
    font-family: Roboto;
    margin-bottom: 2px;
}

/*extra misc buttons*/
div.tipMisc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    /* height: 40%; */
    /* margin: auto auto; */
    flex-grow: 1;
}

div.tipMiscButtons {
    position: relative;
    /* width: 100%; */
    /* height: 50%; */
    margin: 2% auto;
    background: #fafbfc;
    border: 1px solid #c2c7cc;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-sizing: content-box;
    flex-grow: 1;
    min-height: 50px;
}

div > h5 {
    color: #2996cc;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    margin: auto;
}

div.header {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    margin: 2% auto;
    font-family: Roboto;
    color: #3d454c;
}

.fa,
.fa-times {
    color: #3d454c;
    font-weight: 900;
}

.close {
    position: absolute;
    left: 20px;
    top: 20px;
}

.close * {
    margin: 0;
}

.parent-confirm {
    /*position: absolute;*/
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.main-confirm {
    padding: 5%;
    /*background: #FEFEFE;*/
    /*border: 1px solid #C2C7CC;*/
    width: 60%;
    box-sizing: border-box;
    border-radius: 3px;
    margin: auto 20px auto 20px;
    align-items: left;
    text-align: left;
}

div.receiptButtons {
    position: relative;
    width: 100%;
    /* height: 50%; */
    margin: 2% auto;
    /*background: #FAFBFC;*/
    background: #fefefe;
    border: 1px solid #c2c7cc;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    /*align-items: left;*/
    margin: 5px;
    /*box-sizing: content-box;*/
    flex-grow: 1;
    min-height: 50px;
}

.receiptButtonsText {
    color: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin: auto;
}

i {
    margin-right: 10px;
}

.parent-start {
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.main-start {
    padding: 5%;
    width: 80%;
    background: #fefefe;
    border: 1px solid #c2c7cc;
    box-sizing: border-box;
    border-radius: 3px;
    margin: auto 20px auto 20px;
}

div.start-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    width: 100%;
    /*height: 40%;*/
    flex-grow: 3;
    margin: auto auto 20px auto;
}

/*big tip buttons*/
div.participant {
    /* position: relative; */
    /* min-width: 160px;
    background: #FAFBFC;
    border: 1px solid #C2C7CC;
    box-sizing: border-box;
    border-radius: 3px;*/
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    flex-grow: 1;
    margin: 5px;
    min-height: 50px;
}

div.startText {
    /*background: cyan;*/
}

/*extra misc buttons*/
div.info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
    /*width: 100%;*/
    /* height: 40%; */
    /* margin: auto auto; */
    flex-grow: 1;
}

div.startInfo {
    position: relative;
    /* width: 100%; */
    /* height: 50%; */
    margin: 2% auto;
    /*background: #FAFBFC;
    border: 1px solid #C2C7CC;
    box-sizing: border-box;
    border-radius: 3px;*/
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 5px;
    box-sizing: content-box;
    flex-grow: 1;
    min-height: 50px;
}

div.start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

div.startButton {
    position: relative;
    width: 30%;
    margin: 2% auto;
    background: #fafbfc;
    border: 1px solid #c2c7cc;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-sizing: content-box;
    flex-grow: 1;
    min-height: 50px;
}

.typeOfTip img {
    margin: 0 0 20px;
    height: 75px;
    width: 75px;
}
