

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background-color: #F0F2F3;
}

.parent{
  /*position: absolute;*/
  top:60px;
  left:0;
  right:0;
  bottom:0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main{
    padding: 5%;
    background: #FEFEFE;
    border: 1px solid #C2C7CC;
    box-sizing: border-box;
    border-radius: 3px;
    margin: auto 20px auto 20px;
}


div.title{
  display: flex; 
 
  margin: 2% auto; 
  text-align: center; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  
  font-family: roboto; 
  
  
}

img{
  max-height: 75px;
  border-radius: 75px;
}

div.TipButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*height: 40%;*/
    flex-grow: 3;
    margin: auto auto 20px auto; 
}

/*big tip buttons*/
div.tipAmount{
    /* position: relative; */
    min-width: 160px;
    background: #FAFBFC;
    border: 1px solid #C2C7CC;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 5px;
    min-height: 50px;
}

div.tipText{
  /*background: cyan;*/
}

div.tipText >h2{
  color: #2996CC; 
  font-family: Roboto; 
  margin-bottom: 2px;  
}

/*extra misc buttons*/
div.tipMisc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    /* height: 40%; */
    /* margin: auto auto; */
    flex-grow: 1;

}

div.tipMiscButtons{
    position: relative;
    /* width: 100%; */
    /* height: 50%; */
    margin: 2% auto;
    background: #FAFBFC;
    border: 1px solid #C2C7CC;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-sizing: content-box;
    flex-grow: 1;
    min-height: 50px;
}


div > h5{
  color: #2996CC; 
  font-family: Roboto;
  font-style: normal;
  font-weight: bold; 
  margin: auto;  
}

div.header{
  display:flex; 
  flex-direction: row; 
  align-items: stretch; 

  margin: 2% auto; 
  font-family: Roboto; 
  color: #3D454C; 
}


.fa, .fa-times{
  color: #3D454C;
  font-weight: 900; 
}

div.close{
  position: absolute;
  left: 2%;
  top: 2%; 
}


.main-confirm{
    padding: 5%;
    /*background: #FEFEFE;*/
    /*border: 1px solid #C2C7CC;*/
    width: 60%;
    box-sizing: border-box;
    border-radius: 3px;
    margin: auto 20px auto 20px;
}

div.receiptButtons{
    position: relative;
     width: 100%; 
    /* height: 50%; */
    margin: 2% auto;
    /*background: #FAFBFC;*/
    background: #FEFEFE;
    border: 1px solid #C2C7CC;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: left;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    margin: 5px;
    box-sizing: content-box;
    flex-grow: 1;
    min-height: 50px;
}

div > h5 > .receiptButtonsText{
  color: #000000; 
  font-family: Roboto;
  font-style: normal;
  font-weight: normal; 
  margin: auto;  
}













