<div class="close">
       <a ui-sref="start"><h2>
       <span class="fa fa-times"></span> <!-- need to figure out how to click on this and go back to prev page -->
        </h2></a>
    </div>
      
      <div class="title">
        <h2>$5.00 <span id="TipAmount"></span></h2>
        <div class="typeOfTip">
         <img class="circle" src="img/HilaGutfreundIdSquare.jpeg" class="rounded-circle"/> 
         <br>
         <p>Show your thanks to Hila! A little goes a long way!</p>
        </div>
      </div>
 
    <div class ="parent">
      <div class="main">
       
        <div class="TipButtons">

          <a ui-sref="confirmation({useridtip: userid +'tip10%=0.50'})"><div class="tipAmount" id="Button_10" >
            <div class="tipText">
              <h2>10%</h2>
              <div>$0.50</div>
            </div>
          </div></a>
         
          <a ui-sref="confirmation({useridtip: userid +'tip15%=0.75'})"><div class="tipAmount" id="Button_15">
            <div class="tipText">
              <h2>15%</h2>
              <div>$0.75</div>
            </div>
          </div></a>
           
          <a ui-sref="confirmation({useridtip: userid +'tip18%=0.90'})"><div class="tipAmount" id="Button_18">
             <div class="tipText">
                <h2>18%</h2>
                <div>$0.90</div>
              </div>
          </div></a>
          
        </div>
        
        <div class="tipMisc">
         <!--  <div class="tipMiscButtons" id="Button_custom"> 
            <h5>Custom tip amount</h5>
          </div> -->
          
           <a ui-sref="confirmation({useridtip: userid +'tip0'})"><div class="tipMiscButtons" id="Button_none"> 
            <h5>No Tip</h5>
          </div></a>
          
        </div> 
      
      </div>
    </div> 

    <!-- <div class ="parent">
      <div class="main">
       
        <div class="TipButtons">

          <div class="tipAmount">
            <div class="tipText">
              <h2>10%</h2>
              <div>$0.50</div>
         
            </div>
          </div>
         
          <div class="tipAmount">
            <div class="tipText">
              <h2>15%</h2>
              <div>$0.75</div>
            </div>
          </div>
           
          <div class="tipAmount">
             <div class="tipText">
                <h2>18%</h2>
                <div>$0.90</div>
              </div>
          </div>
          
        </div>
        
        <div class="tipMisc">
          <div class="tipMiscButtons"> 
            <h5>Custom tip amount</h5>
          </div>
          
           <div class="tipMiscButtons"> 
            <h5>No Tip</h5>
          </div>
          
        </div> 
      
      </div>
    </div>  -->