<div class="close">
  <h2>
    <span class="fa fa-times"></span>
  </h2>
</div>

<div class="title">
  <h2>$5.00</h2>
  <div class="typeOfTip">
   <p>You're all done.</p>
 </div>
</div>


<div class ="parent-confirm">
  <div class="main-confirm">

     <div class="receiptMisc">
      <!--   <div class="receiptButtons"> 
           <h5>Text Receipt</h5>
        </div>

        <div class="receiptButtons"> 
          <h5>Email Receipt</h5>
        </div> -->

        <div class="receiptButtons"> 
          <h5 class="receiptButtonsText">Print Receipt</h5>
        </div>

        <div class="receiptButtons"> 
          <h5 class="receiptButtonsText">No Thanks</h5>
        </div>

  </div> 

    </div>

 

  </div>
</div>
