<div class="close" ng-click="pickURL()">
  <!-- ui-sref="{{url}}({userid:{{userid}}})" -->
  <h2>
    <span class="fa fa-chevron-left"></span>
  </h2>
</div>

<div class="title">
  <h2>${{finalAmount}}</h2>
  <br>
  <h4>$5.00 + ${{tip}} tip</h4> 
  <div class="typeOfTip">
   <p>You're all done.</p>
 </div>
</div>


<div class ="parent-confirm">
  <div class="main-confirm">

     <div class="receiptMisc">
      <!--   <div class="receiptButtons"> 
           <h5>Text Receipt</h5>
        </div>

        <div class="receiptButtons"> 
          <h5>Email Receipt</h5>
        </div> -->

        <a><div class="receiptButtons"> 
          <h5 class="receiptButtonsText" id="Print"><i class="fa fa-print" aria-hidden="true"></i>  Print Receipt</h5>
        </div></a>

        <a><div class="receiptButtons"> 
          <h5 class="receiptButtonsText" id="None"><i class="fa fa-ban" aria-hidden="true"></i>  No Thanks</h5>
        </div></a>

    </div> 

  </div>

 

</div>

