

<h1>Participant intake page (start)</h1>

<br>

<div id="navDiv">
    <ul class="nav nav-justified">
      <li><a ui-sref="start" ui-sref-active-eq="active">Start</a></li>
      <li><a ui-sref="ambiguous" ui-sref-active-eq="active"> Tip1</a></li> 
      <li><a ui-sref="tipjar" ui-sref-active-eq="active"> Tip2</a></li> 
      <li><a ui-sref="barista" ui-sref-active-eq="active"> Tip3</a></li> 
      <li><a ui-sref="confirmation" ui-sref-active-eq="active"> Confirmation</a></li>           
    </ul>
</div> 


<br>

<div class ="parent-start">
  <div class="main-start">
        <h2>Participant intake form</h2>
        <div class="start-section">

          <div class="participant" >
            <div class="startText">
              <h4>Participant: {{selected.id}}</h4>
              <select xng-options="" ng-model="selected.id" ng-change="onSelectParticipant()">
                <option value="x">-- Select --</option>
                <option value="{{participant.id}}" ng-repeat="participant in participants">{{participant.id}}</option>
              </select>
         
            </div>
          </div>
         
        
        <div class="info">
          <div class="startInfo"> 
            <h4><b>Selected  IA: </b>   {{selected.IA}}</h4>
          </div>
          
           <div class="startInfo"> 
            <h4><b>Selected  device: </b>   {{selected.device}}</h4>
          </div>
          
        </div> 

      <div class="start">
        <!-- <div class="startButton"><a ui-sref="ambiguous({userid: '{{selected.id}}'})"><h5>Start</h5></a></div> -->
       <!--  <div class="startButton"><a ui-sref="ambiguous({userid: selected.id})"><h5>Start</h5></a></div> -->
        <div class="startButton"><a ui-sref="{{web}}({userid: selected.id})"><h5>Start Mobile</h5></a></div>
        <div class="startButton"><a ui-sref="{{web}}({userid: selected.id})"><h5>Start Web</h5></a></div>
        <!-- <div class="startButton"><a ng-if="selected.switch === 'st'" ui-sref="tipjar({userid: selected.id})"><h5>Start Webpage</h5></a></div> -->
        <!-- <div class="startButton"><a ng-if="selected.data.switch === 'at'" ui-sref="ambiguous({userid: selected.id})"><h5>Start Webpage</h5></a></div>
        <div class="startButton"><a ng-if="selected.data.switch === 'bt'" ui-sref="barista({userid: selected.id})"><h5>Start Webpage</h5></a></div> -->
        
       <!--  <div class="startButton"><a ng-href="{{getLinkUrl()}}">Start</a></div> -->
      </div>
      </div>
    </div>
  </div>

<!--this is where i need to start putting input fields... and dropdowns and all that jazz--> 


