

<h1>Participant intake page (start)</h1>

<br>

<div id="navDiv">
    <ul class="nav nav-justified">
      <li><a ui-sref="start" ui-sref-active-eq="active">Start</a></li>
      <li><a ui-sref="ambiguous" ui-sref-active-eq="active"> Tip1</a></li> 
      <li><a ui-sref="tipjar" ui-sref-active-eq="active"> Tip2</a></li> 
      <li><a ui-sref="barista" ui-sref-active-eq="active"> Tip3</a></li> 
      <li><a ui-sref="confirmation" ui-sref-active-eq="active"> Confirmation</a></li>           
    </ul>
</div> 


<br>

<div>
  <div>{{message}}</div>
  </br>
  <h5>Participant: </h5>
  <select xng-options="" ng-model="selected.id" ng-change="onSelectParticipant">
    <option value="x">-- Select --</option>
    <option value="{{participant.id}}" ng-repeat="participant in participants">{{participant.id}}</option>
  </select>

  <div>Selected  IA:{{selected.IA}}</div>
  <div>Selected  device:{{selected.device}}</div>


</div>

<!--this is where i need to start putting input fields... and dropdowns and all that jazz--> 


